*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.image{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 200px;
}
.input-label{
    display: block;
    margin-bottom: 8px;
    color: #4c89f3;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #4c94f3;
    border-radius: 5px;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
}

.generate{
    background-color: #4c94f3;
    
}
.generate:disabled{
    background-color: #bdc3c7  ;
    cursor: not-allowed; 
}

.download{
    background-color: #4c94f3;
    margin-left: 10px;
}

.download:hover{
    background-color: rgb(114, 191, 246);
}
.generate:hover{
    background-color: rgb(114, 191, 246);
}

.app-container h1{
    font-weight: 600;
    font-size: 18px;
    color:#4c94f3;
    border-bottom: 1px solid #f1efef;
    padding: 10px 0px;
}